<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <title>Alumnos</title>
</head>
<body>
    <!-- Nombre de la etiqueta Ejemplo: INPUT -->
    <!-- # para ID -->
    <!-- . para CLASS -->

    <!-- form index 0 -->
    <!-- #frmAlumnos -->
    <!-- .formulario index 0 -->
    <div class="container">
        <form method="post" id="frmAlumnos" class="formulario">
            <div class="mb-1">
                <label id="lblMatriculaFA" for="txtMatriculaFA">Matrícula:</label>
                <input type="number" name="txtMatriculaFA" id="txtMatriculaFA" class="form-control" required="true" minlength="8" maxlength="8" data-rule-digits="true">
            </div>
            <div class="mb-1">
                <label id="lblNombreApellidoFA" for="txtNombreApellidoFA">Nombre y Apellido:</label>
                <input type="text" name="txtNombreApellidoFA" id="txtNombreApellidoFA" class="form-control" required="true" minlength="10" maxlength="25">
            </div>
            <div class="text-end">
                <button id="btnGuardarFA" name="btnGuardarFA" class="btn btn-dark">Guardar</button>
            </div>
        </form>
        <div id="divAlumnos"></div>
    
        <!-- table index 0 -->
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre y Apellido</th>
                </tr>
            </thead>
            <tbody id="tbodyAlumnos"></tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        window.addEventListener("load", function (event) {
            $("#frmAlumnos").validate({
                messages: {
                    txtMatriculaFA: {
                        required: "Ingresa la matrícula",
                        minlength: "La matrícula es de 8 digitos",
                        maxlength: "La matrícula es de 8 digitos",
                        digits: "La matrícula es de solo números"
                    },
                    txtNombreApellidoFA: {
                        required: "Ingresa tu nombre y apellido",
                        minlength: "Ingresa más o 10 caracteres",
                        maxlength: "Ingresa menos o 25 caracteres"
                    }
                },
                rules: {
                    txtMatriculaFA: {
                        // required: true,
                        // minlength: 8,
                        // maxlength: 8
                        // digits: true
                    }
                }
            })

            $("#frmAlumnos").submit(function (event) {
                event.preventDefault()

                $.post("/alumnos/guardar", $(this).serialize(), function (respuesta) {
                    console.log(respuesta)
                })
            })
        })
    </script>    
</body>
</html>
